[Unit]
Description=SunshineSF
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment=LC_CTYPE=en_US.UTF-8
ExecStart=/srv/sunshine/.pyenv/shims/gunicorn sunshine:app -b 127.0.0.1:5000
User=sunshine
Group=sunshine
WorkingDirectory=/srv/sunshine/www/sunshine-latest
Restart=on-failure
StartLimitInterval=86400
StartLimitBurst=5
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
